.lines .lines-line {
    border-bottom: 1px solid #000;
}
  
.lines .lines-add-input {
    height: 3rem;
    width: 10rem;
}

.lines .lines-add-btn {
    height: 3.5rem;
    width: 3rem;
}

.lines .lines-line-id {
    background-color: #000;
    color: #fff;
    width: 0.5rem;
    padding: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lines .lines-line-text {
    
}
